version: "3"

services: 
  node:
    container_name: microservice-apis/authenicate-service
    image: nodeapp
    build: 
      context: .
      dockerfile: Dockerfile
    ports: 
      - "3000:3000"
    depends_on: 
      - mongodb
  mongodb:
    container_name: mongodb
    image: mongo
    ports: 
      - "27017:27017"
